{%- include data/owner.html -%}
{%- assign owners = owners | where_exp: "i", "i.location contains location and i.type == 'Квартира' and i.rent != '1'" -%}
{%- assign vambud = site.data.vambud | where_exp: "i", "i.location contains location and i.type == 'Квартира' and i.rent != '1'" -%}
{%- assign franko = site.data.franko | where_exp: "i", "i.location contains location and i.type == 'Квартира' and i.rent != '1'" -%}
{%- assign shevchenko = site.data.shevchenko | where_exp: "i", "i.location contains location and i.type == 'Квартира' and i.rent != '1'" -%}
{%- include data/ivano-frankivsk/records.html -%}
{%- assign offers = records | sort: "date" | reverse -%}
