{%- include data/owner.html -%}
{%- assign owners = owners | where: 'location', 'м. Івано-Франківськ' | where_exp: "i", "i.type == 'Будинок' or i.type == 'Частина будинку'" -%}
{%- assign franko = site.data.franko | where: 'location', 'м. Івано-Франківськ' | where_exp: "i", "i.type == 'Будинок' or i.type == 'Частина будинку'" -%}
{%- assign shevchenko = site.data.shevchenko | where: 'location', 'м. Івано-Франківськ' | where_exp: "i", "i.type == 'Будинок' or i.type == 'Частина будинку'" -%}
{%- assign records = owners | concat: shevchenko | concat: franko -%}
{%- assign offers = records | sort: "date" | reverse -%}
