{%- if contact[include.legal] -%}
  <a href="tel:+38{{ contact[include.legal] | strip | remove: '(' | remove: ')' | remove: ' ' }}">
    {{ contact[include.legal] | replace: " ", "&nbsp;" }}
  </a>
{%- elsif include.legal and include.type == 'icon' -%}
{%- assign t = include.legal -%}
  <a href="tel:+{{ t }}" class="text-decoration-none" title="Продавець +{{ t }}">
    <span>
      {%- include icons/telephone-outbound.svg width="18" height="18" -%}
    </span>
    <br>
    {{ t | slice: -9, 2 }} <br>
    {{ t | slice: 0, 9 }} <br>
    {{ t | slice: -7, 3 }} <br>
    {{ t | slice: 2 }} <br>
    {{ t | slice: 4 }} <br>
    {{ t | slice: -2 }} <br>
    {{ t | slice: -4 }} <br>
  </a>
{%- else -%}
  <span class="text-muted">{{ site.data.lang-uk.no_number }}</span>
{%- endif -%}
