<table
  id="property"
  ref="table"
  data-locale="uk-UA"
  data-toggle="table"
  data-search="true"
  data-sort-class="table-active"
  data-sortable="true"
  data-detail-view="true"
  data-detail-view-icon="false"
  data-detail-view-by-click="true"
  data-pagination="true"
  data-buttons-class="primary"
  data-url="{{ json }}">
  <thead class="thead-re">
    <tr>
      <th data-field="type" data-title="Власність" data-formatter="propertyFormatter">Property</th>
      <th data-field="price" data-title="Ціна" data-formatter="priceFormatter" data-sortable="true" data-sorter="priceSorter">Price</th>
    </tr>
  </thead>
</table>

{%- comment -%}
  data-detail-formatter="propertyDetailFormatter"
{%- endcomment -%}
