{% assign f = include.field %}
<div class="{{ f.col | default: 'col-12' }}"{% if f.depends %} x-show="evaluateDepends({{ f.depends | jsonify | replace: '"', "'" }})"{% endif %}>
{% if f.label.depends %}
  <p{% if f.class %} class="{{ f.class }}"{% endif %}><span x-html="labelText('{{ f.name }}')"></span></p>
{% elsif f.markdown %}
  <div{% if f.class %} class="{{ f.class }}"{% endif %}>{{ f.label | markdownify }}</div>
{% else %}
  <p{% if f.class %} class="{{ f.class }}"{% endif %}>{{ f.label }}</p>
{% endif %}
</div>
