<div class="modal fade realestate" id="netRealEstate" tabindex="-1" role="dialog" aria-labelledby="netRealEstate" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content net-realestate">
      <div class="modal-header border-0">
        <button type="button" class="close py-1 px-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-4 px-4">
        <ul class="list-unstyled mb-0 row row-cols-1 row-cols-sm-2 g-3">
          {% for item in site.data.realestate %}
          <li class="col mb-1">
            <a rel="noopener noreferrer" href="{{ item.url }}" target="_blank" class="link-light">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
