<div class="modal fade realestate" id="netRealEstate" tabindex="-1" role="dialog" aria-labelledby="netRealEstate" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content net-realestate">
      <div class="modal-header border-0">
        <button type="button" class="close py-1 px-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-4 px-4">
        <div class="list-unstyled row row-cols-1 row-cols-sm-2 g-3">
          {% for item in site.data.realestate %}
          <li class="col">
            <a href="{{ item.url }}" class="text-white">{{ item.title }}</a>
          </li>
          {% endfor %}
        </div>
        {% comment %}
        <ul class="outer-links">
          <li>
            <a href="#" target="_blank" rel="nofollow">
              <span>...</span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="nofollow">
              <span>...</span>
            </a>
          </li>
        </ul>
        <ul class="outer-links">
          <li>
            <a href="#" target="_blank" rel="nofollow">
              <span>...</span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="nofollow">
              <span>...</span>
            </a>
          </li>
        </ul>
        {% endcomment %}
      </div>
      {% comment %}
      <div class="modal-footer border-0">
        <ul class="outer-links">
          <li>
            <a href="#" target="_blank" rel="nofollow">
              <span>...</span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="nofollow">
              <span>...</span>
            </a>
          </li>
        </ul>
      </div>
      {% endcomment %}
    </div>
  </div>
</div>
