<script src="{{ "/assets/js/leaflet.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>

<div class="modal fade realestate" id="reMap" tabindex="-1" role="dialog" aria-labelledby="reMap" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content net-realestate">
      <div class="modal-header border-0">
        <h5 class="modal-title pl-2 text-white">Нерухомість на мапі</h5>
        <button type="button" class="close py-1 px-2" data-dismiss="modal" aria-label="Close" title="Закрити">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-4 px-4">
        <div id="map" style="height:480px;"></div>
      </div>
    </div>
  </div>
</div>

<script>

  var map;

  $(document).ready(function() {

    var map = L.map('map').setView([48.92276, 24.71038], 14);

    jQuery(document).on('click', 'a', function (event) {
      var coordinates = jQuery(this).attr('data-coordinates') || '';
      L.marker(eval(coordinates)).addTo(map);
    });

    console.log(coordinates);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 17,
      attribution: '{{ site.title }} - {{ site.region }}',
      tileSize: 512,
      zoomOffset: -1
    }).addTo(map);

    map.attributionControl.setPrefix('');

    $('#reMap').on('shown.bs.modal', function(){
      map.invalidateSize();
    });

  })

</script>
