
<div class="col mb-3 mb-md-0">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Будуєом будинки, квартири, житло...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col mb-3 mb-md-0">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Ремонт житлові та не житлові приміщення...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col mb-3 mb-md-0">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Надаємо різноманітні послуги ремонту житла, побутової техніки...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col mb-3 mb-md-0">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Продаємо будівельні матеріали для ремонту та будівництва...</p>
        </div>
      </div>
    </div>
  </div>
</div>
