
<div class="col mb-3 mb-md-0">
  <div class="card h-100">
    <div class="card-body">
      <p class="card-text"><a href="#">Будуємо житлові та не житлові будинки, квартири, гаражі</a></p>
    </div>
  </div>
</div>

<div class="col mb-3 mb-md-0">
  <div class="card h-100">
    <div class="card-body">
      <p class="card-text"><a href="#">Ремонтуємо житлові і не житлові приміщення та іншу нерухомість</a></p>
    </div>
  </div>
</div>

<div class="col mb-3 mb-md-0">
  <div class="card h-100">
    <div class="card-body">
      <p class="card-text"><a href="#">Послуги встановлення, монтажу і демонтажу та оздоблення</a></p>
    </div>
  </div>
</div>

<div class="col mb-3 mb-md-0">
  <div class="card h-100">
    <div class="card-body">
      <p class="card-text"><a href="#">Продаємо будівельні матеріали для ремонту та будівництва</a></p>
    </div>
  </div>
</div>
