
<div class="col mb-3 mb-md-0">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Будуємо житлові та не житлові будинки, квартири, гаражі</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col mb-3 mb-md-0">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Ремонтуємо житлові і не житлові приміщення та іншу нерухомість</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col mb-3 mb-md-0">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Послуги встановлення, монтажу і демонтажу та оздоблення</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col mb-3 mb-md-0">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Продаємо будівельні матеріали для ремонту та будівництва</p>
        </div>
      </div>
    </div>
  </div>
</div>
