<header>
  <div class="container bg-primary">
    <div class="row">
      <div class="col-md-3 bg-primary"><span class="text-primary text-nowrap">Українська Нерухомість</span></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a class="flag-ua ml-1" data-toggle="modal" data-target="#netRealEstate" href="#netRealEstate" aria-haspopup="true" aria-expanded="false">
          <div class="icon"></div>
          <div class="flag-ua-text">
            <span>Іва́но-Франкі́вськ</span>
            <span class="text-light">Мережа сайтів Нерухомості</span>
          </div>
        </a>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-3">

      </div>
    </div>
    {% include header/navbar.html %}
  </div>
</header>
