{%- assign card_back = page.dir | split: '/' -%}
{%- assign card_size = card_back | size | minus: 1 -%}
{%- assign card_here = card_back | slice: 0, card_size | join: '/' | append: '/' -%}
{%- assign cards = site.pages | sort: 'dir' | reverse -%}

<ul>
  {%- for card in cards -%}
    {%- assign isJson = false -%}
    {%- if card.url contains '.json' -%}{%- assign isJson = true -%}{%- endif -%}
    {%- assign slug = card.url | split: '/' | last -%}
    {%- assign current = one.url | remove: slug | remove: '//' | append: '/' -%}
    {%- if card.title != '' and isJson == false -%}
      {{ card.title }}
    {%- endif -%}
  {%- endfor -%}
</ul>



{% comment %}

<div class="row mx-n2 row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-2">
  <div class="col px-2 mb-3">
    <div class="card bg-dark text-white">
      <img src="/assets/images/locations/default.jpg" class="card-img" alt="image">
      <div class="card-img-overlay">
        <h5 class="card-title">У розділі {{ card.title }}</h5>
        <p class="card-text">Тут...### {{ nhouse | size }} ### / ### {{ napartment | size }} ###</p>
        <p class="card-text">...оголошень</p>
      </div>
    </div>
  </div>
</div>

{% endcomment %}
