<nav class="navbar navbar-expand-md navbar-light bg-white px-0">
    <a class="navbar-brand d-md-none" href="#">Оберіть нерухомість</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav nav nav-tabs border-0" id="realestate-nav" role="realestate-list">
        <li class="nav-item" role="presentation">
          <a class="nav-link border-0 active" href="#apartment" id="apartment-tab" data-toggle="tab" role="tab" aria-controls="apartment" aria-selected="true">Квартири</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link border-0" href="#house" id="house-tab" data-toggle="tab" role="tab" aria-controls="house" aria-selected="true">Будинки</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link border-0" href="#developer" id="developer-tab" data-toggle="tab" role="tab" aria-controls="developer" aria-selected="true">Новобудови</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link border-0" href="#parking" id="parking-tab" data-toggle="tab" role="tab" aria-controls="parking" aria-selected="true">Гаражі</a>
        </li>
      </ul>
    </div>
</nav>
<div class="tab-content" id="realestate-content">
  <div class="tab-pane fade show active" id="apartment" role="tabpanel" aria-labelledby="apartment-tab">...Квартири...</div>
  <div class="tab-pane fade" id="house" role="tabpanel" aria-labelledby="house-tab">...Будинки...</div>
  <div class="tab-pane fade" id="developer" role="tabpanel" aria-labelledby="developer-tab">...Новобудови, Нове житло...</div>
  <div class="tab-pane fade" id="parking" role="tabpanel" aria-labelledby="parking-tab">...Гараж, Паркування...</div>
</div>
