<h6 class="mt-1">{{ site.data.lang-uk.sent_ads }}</h6>
<ul class="list-inline social-link">
  {%- if include.twitter == 1 -%}
  <li class="list-inline-item">
    <a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="GitHub">
      <span>{%- include icons/twitter.svg width="24" height="24" -%}</span>
    </a>
  </li>
  {%- endif -%}
  {%- if include.facebook == 1 -%}
  <li class="list-inline-item">
    <a href="https://www.facebook.com/groups/{{ site.domain }}" target="_blank" rel="noopener" aria-label="Facebook">
      <span>{%- include icons/facebook.svg width="23" height="23" -%}</span>
    </a>
  </li>
  {%- endif -%}
  {%- if include.skype == 1 -%}
  <li class="list-inline-item">
    <a href="skype:live:.cid.f6f06c675b2b479c?chat" target="_blank" rel="noopener" aria-label="Skype">
      <span>{%- include icons/skype.svg width="24" height="24" -%}</span>
    </a>
  </li>
  {%- endif -%}
  {%- if include.whatsapp == 1 -%}
  <li class="list-inline-item">
    <a href="https://wa.me/380504949649" target="_blank" rel="noopener" aria-label="WhatsApp">
      <span>{%- include icons/whatsapp.svg width="28" height="28" -%}</span>
    </a>
  </li>
  {%- endif -%}
  {%- if include.messenger == 1 -%}
  <li class="list-inline-item">
    <a href="https://messenger.com" target="_blank" rel="noopener" aria-label="Messenger">
      <span>{%- include icons/messenger.svg width="24" height="24" -%}</span>
    </a>
  </li>
  {%- endif -%}
  {%- if include.viber == 1 -%}
  <li class="list-inline-item">
    <a href="viber://pa/info?uri=realestate_ua" target="_blank" rel="noopener" aria-label="Viber">
      <span>{%- include icons/viber.svg width="24" height="24" -%}</span>
    </a>
  </li>
  {%- endif -%}
  {%- if include.telegram == 1 -%}
  <li class="list-inline-item">
    <a href="https://t.me/realestate_net" target="_blank" rel="noopener" aria-label="Telegram">
      <span>{%- include icons/telegram.svg width="24" height="24" -%}</span>
    </a>
  </li>
  {%- endif -%}
</ul>

{% comment %}

https://msng.link/

<a href="sms://+491792979768" target="_blank" rel="noopener" aria-label="SMS">
  SMS
</a>
{% endcomment %}
