
{%- if include.dir != page.dir and include.dir contains page.dir -%}

  {%- assign items = include.page -%}
  {%- assign items = '' | split:'' -%}
  {%- assign pages = site.pages | sort: 'path' | reverse -%}
  {%- for i in pages -%}
    {%- if i.dir contains include.dir and i.dir != include.dir -%}
      {%- assign items = items | push: i -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if items -%}
    {%- for item in items limit:6 -%}
      {%- if forloop.first -%}
      <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">
      {%- endif -%}
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ item.url }}">
                  {%- if item.title -%}{{ item.title }}{%- else -%}{{ item.navtitle }}{%- endif -%}
                </a>
              </h5>
              <p class="card-text mb-1">
                ...
              </p>
            </div>
          </div>
        </div>
      {%- if forloop.last -%}
      </div>
      <div class="row">
        <div class="col-auto ml-auto">
          <a class="btn btn-primary" href="{{include.dir}}">Інші {{ title | downcase }}</a>
        </div>
      </div>
      {%- endif -%}
    {%- else -%}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="alert alert-info" role="alert">
            ....
          </div>
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%}

{%- else -%}

{%- endif -%}
