<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-end">
      <h5 class="mb-0">
        <a class="badge badge-success mr-2" data-toggle="collapse" href="#thanks" role="button" aria-expanded="true" aria-controls="thanks" data-target=".thanks">Дякуємо!</a>
        <a class="badge badge-primary" data-toggle="collapse" href="#please" role="button" aria-expanded="true" aria-controls="please" data-target=".please">Просимо!</a>
      </h5>
    </div>
    <div class="multi-collapse thanks collapse" id="thanks">
      <div class="card card-body">
        Заздалегідь дякуємо! Вам за рекомендації рідним, друзям, знайомим, чи будь кому іншому кому потрібно розмістити оголошення про нерухомість у "Мережі Вебсайтв Нерухомості". Дякуємо!
      </div>
    </div>
    <div class="multi-collapse please collapse" id="please">
      <div class="card card-body">
        Будь ласка! Повідомте продавцю або орендодавцю, що Ви знайшли його оголошення у "Мережі Вебсайтв Нерухомості" - Івано-Франківськ. Дякуємо!
      </div>
    </div>
  </div>
</div>
