{% if include.auto %}{% assign col_fn = 'autoCol' %}{% else %}{% assign col_fn = 'fieldCol' %}{% endif %}
{% assign f = include.field %}
<div :class="{{ col_fn }}('{{ f.name }}')" x-show="isFieldVisible('{{ f.name }}')">
<div class="form-group"
     :class="errors['{{ f.name }}'] ? 'is-invalid' : touched['{{ f.name }}'] ? 'is-valid' : ''">
  <label class="d-block">{% include form/label.html field=f %}<span class="text-danger" :class="requiredMeta('{{ f.name }}', 'class')" x-show="isFieldRequired('{{ f.name }}')" :title="requiredMeta('{{ f.name }}', 'tooltip') || undefined"><span x-html="requiredMeta('{{ f.name }}', 'marker', '*')"></span><a x-show="requiredMeta('{{ f.name }}', 'informer')" :href="requiredMeta('{{ f.name }}', 'informer')" target="_blank" class="ml-1" x-text="requiredMeta('{{ f.name }}', 'icon', 'ⓘ')"></a></span></label>
  <div class="btn-group-toggle d-flex flex-wrap">
    {% for option in f.options %}
    <label class="btn btn-outline-{{ f.variant | default: 'secondary' }} mr-2 mb-2"
           :class="{ active: data['{{ f.name }}'].indexOf('{{ option.value }}') !== -1 }">
      <input type="checkbox"
             value="{{ option.value }}"
             {% include form/attributes.html field=f element='input' %}
             x-model="data.{{ f.name }}"
             :disabled="isFieldReadonly('{{ f.name }}')"
             @change="validateField('{{ f.name }}')"> {{ option.label | default: option.value }}
    </label>
    {% endfor %}
  </div>
  {% if f.helper %}<small id="helper_{{ f.name }}" class="form-text text-muted">{{ f.helper }}</small>{% endif %}
  <div class="valid-feedback" style="display: block" x-show="touched['{{ f.name }}'] && !errors['{{ f.name }}']">{% if f.feedback.valid %}{{ f.feedback.valid }}{% elsif f.valid %}{{ f.valid }}{% elsif site.data.add-property.settings.feedback.valid %}{{ site.data.add-property.settings.feedback.valid }}{% else %}✓{% endif %}</div>
  <div class="invalid-feedback" style="display: block" x-show="errors['{{ f.name }}']">{% if f.feedback.invalid %}{{ f.feedback.invalid }}{% else %}<span x-text="errors['{{ f.name }}']"></span>{% endif %}</div>
</div>
</div>