{% if include.auto %}{% assign col_fn = 'autoCol' %}{% else %}{% assign col_fn = 'fieldCol' %}{% endif %}
{% assign f = include.field %}
{% assign fm = f.file %}
<div :class="{{ col_fn }}('{{ f.name }}')" x-show="isFieldVisible('{{ f.name }}')">
  <div class="form-group"
      :class="errors['{{ f.name }}'] ? 'is-invalid' : touched['{{ f.name }}'] ? 'is-valid' : ''">
     <label for="field_{{ f.name }}">{% include form/label.html field=f %}<span class="text-danger" :class="requiredMeta('{{ f.name }}', 'class')" x-show="isFieldRequired('{{ f.name }}')" :title="requiredMeta('{{ f.name }}', 'tooltip') || undefined"><span x-html="requiredMeta('{{ f.name }}', 'marker', '*')"></span><a x-show="requiredMeta('{{ f.name }}', 'informer')" :href="requiredMeta('{{ f.name }}', 'informer')" target="_blank" class="ml-1" x-text="requiredMeta('{{ f.name }}', 'icon', 'ⓘ')"></a></span></label>
{% if f.prepend or f.append %}<div class="input-group">{% include form/addon.html field=f side='prepend' %}{% endif %}
     <div class="text-input-wrapper">
     <div class="custom-file"
          :class="errors['{{ f.name }}'] ? 'is-invalid' : touched['{{ f.name }}'] ? 'is-valid' : ''">
         <input type="file" class="custom-file-input" id="field_{{ f.name }}"
                {% include form/attributes.html field=f element='input' %}
                accept="{{ f.accept }}"{% if f.multiple %} multiple{% endif %}
               :title="fileCount('{{ f.name }}') ? 'Вибрано ' + fileCount('{{ f.name }}') + ' ' + pluralizeFile(fileCount('{{ f.name }}')) : 'Файл не вибрано'"
               :disabled="isFieldReadonly('{{ f.name }}')"
              @change="handleFileChange($event, '{{ f.name }}'); validateField('{{ f.name }}')" @blur="validateField('{{ f.name }}')"{% if f.helper %} aria-describedby="helper_{{ f.name }}"{% endif %}>
       <label class="custom-file-label" for="field_{{ f.name }}" x-text="fileLabel('{{ f.name }}')"></label>
     </div>
     <button type="button" class="btn-clear" title="Очистити файли"
             x-show="fileCount('{{ f.name }}') && !isFieldReadonly('{{ f.name }}')"
             @click.prevent="clearAllFiles('{{ f.name }}')">&times;</button>
     </div>{% if f.prepend or f.append %}{% include form/addon.html field=f side='append' %}</div>{% endif %}
      {% assign fm_min = fm.minFiles %}
      {% assign fm_max = fm.maxFiles | default: 10 %}
      {% assign fm_limit = fm.maxSize | default: '5 MB' %}
      {% if fm_min %}
        {% capture fm_info_default %}{{ site.data.uk.re_images }}: від {{ fm_min }} до {{ fm_max }} файлів, до {{ fm_limit }}{% endcapture %}
      {% else %}
        {% capture fm_info_default %}{{ site.data.uk.re_images }}: максимум {{ fm_max }}, до {{ fm_limit }}{% endcapture %}
      {% endif %}
      {% assign fm_ph_min = '{min}' %}
      {% assign fm_ph_max = '{max}' %}
      {% assign fm_ph_limit = '{limit}' %}
      {% capture fm_info_text %}{{ fm.infoLine | default: fm_info_default }}{% endcapture %}
      <small class="form-text text-muted">{{ fm_info_text | replace: fm_ph_min, fm_min | replace: fm_ph_max, fm_max | replace: fm_ph_limit, fm_limit }}</small>
     {% if f.helper %}<small id="helper_{{ f.name }}" class="form-text text-muted">{{ f.helper }}</small>{% endif %}
     <div class="valid-feedback" style="display: block" x-show="touched['{{ f.name }}'] && !errors['{{ f.name }}']">{% if f.feedback.valid %}{{ f.feedback.valid }}{% elsif f.valid %}{{ f.valid }}{% elsif site.data.add-property.settings.feedback.valid %}{{ site.data.add-property.settings.feedback.valid }}{% else %}✓{% endif %}</div>
     <div class="file-previews mt-2" x-show="fileCount('{{ f.name }}')">
       <template x-for="(fl, idx) in files['{{ f.name }}']" :key="idx">
         <div class="file-preview">
           <div class="file-preview-row" :class="fileIsValid('{{ f.name }}', idx) ? 'file-preview-row-valid' : 'file-preview-row-invalid'">
             <div class="file-thumb" :style="'width: {{ fm.thumbWidth | default: 140 }}px; height: {{ fm.thumbHeight | default: 105 }}px;'">
               <span class="file-badge-compress" x-show="fileNeedsCompress('{{ f.name }}', idx)">буде стиснуто</span>
               <img x-show="filePreview('{{ f.name }}', idx)" :src="filePreview('{{ f.name }}', idx)" class="img-fluid">
               <div x-show="!filePreview('{{ f.name }}', idx)" class="file-thumb-fallback d-flex align-items-center justify-content-center bg-light text-muted" :style="'width: {{ fm.thumbWidth | default: 140 }}px; height: {{ fm.thumbHeight | default: 105 }}px; font-size: 0.7rem; word-break: break-all;'">
                 <span x-text="truncateName(fl.name, 20)"></span>
               </div>
               <button type="button" class="close position-absolute" style="top: 1px; right: 1px;" @click="removeFile(idx, '{{ f.name }}')">&times;</button>
             </div>
             <div class="file-list-info">
               <div class="file-list-info-row"><span class="file-list-info-label">Поточне ім'я:</span><span class="file-list-info-value" x-text="truncateName(fl.name, 40)"></span></div>
               <div class="file-list-info-row" x-show="{{ fm.formatName | default: false }}"><span class="file-list-info-label">Нове ім'я:</span><span class="file-list-info-value" x-text="fileNewName('{{ f.name }}', idx)"></span></div>
               <div class="file-list-info-row"><span class="file-list-info-label">Поточний розмір:</span><span class="file-list-info-value" :class="fileDimsOver('{{ f.name }}', idx) ? 'file-list-info-value-over' : ''" x-text="fileDimsLabel('{{ f.name }}', idx)"></span></div>
               <div class="file-list-info-row"><span class="file-list-info-label">Новий розмір:</span><span class="file-list-info-value" x-text="fileNewSizeLabel('{{ f.name }}')"></span></div>
               <div class="file-list-info-row"><span class="file-list-info-label">Поточний розмір файлу:</span><span class="file-list-info-value" :class="fileSizeOver('{{ f.name }}', idx) ? 'file-list-info-value-over' : ''" x-text="fileCurrentSizeLabel('{{ f.name }}', idx)"></span></div>
               <div class="file-list-info-row"><span class="file-list-info-label">Новий розмір файлу:</span><span class="file-list-info-value" x-text="fileNewFileSizeLabel('{{ f.name }}', idx)"></span></div>
             </div>
           </div>
         </div>
       </template>
     </div>
     <div class="file-info" x-show="fileInfo('{{ f.name }}')" x-text="fileInfo('{{ f.name }}')"></div>
     <div class="invalid-feedback" style="display: block" x-show="errors['{{ f.name }}']">{% if f.feedback.invalid %}{{ f.feedback.invalid }}{% else %}<span x-text="errors['{{ f.name }}']"></span>{% endif %}</div>
   </div>
</div>