body { padding: 0; margin: 0; } html, body, #map { height: 100%; width: 100vw; }
.leaflet-control-slidemenu { cursor: pointer; }
.leaflet-menu { position: absolute; background-color: rgba(255, 255, 255, 255); overflow: auto; cursor: default; z-index: 9999; }
.leaflet-menu::-webkit-scrollbar { width: 7px; height: 7px; background: #f2f2f2; }
.leaflet-menu::-webkit-scrollbar-thumb { border-radius: 2px; background: #777; }
.leaflet-menu-close-button{ background-color: transparent; border: none; font-size: 14pt; color: #777; cursor: pointer; }
.leaflet-menu-close-button:hover { color: #4285F4; }
.leaflet-menu-contents { padding-left: 10px; padding-right: 10px; }
.leaflet-menu-contents h1 { font-size: 1.25rem; margin-bottom: 0; }
.leaflet-menu-contents h2 { font-size: 1rem; margin-top: 0; margin-bottom: 8px; }
.list-unstyled { margin: 0; padding-left: 0; list-style: none; }
.fa { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font: 16px/1 sans-serif; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; }
.fa-bars:before { content: "\2630"; }
.fa-chevron-left:before { content: "\2716"; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
details { font-size: initial; border: 1px solid #aaa; border-radius: 4px; padding: .5em .5em 0; margin-bottom: 4px; }
details[open] { padding: .5em; }
summary { color: #0078A8; font-size: .9rem; font-weight: bold; margin: -.5em -.5em 0; padding: .5em; }
details[open] summary { border-bottom: 1px solid #aaa; margin-bottom: .5em; }
details p { margin: 0; text-align: right; font-size: 10px; }
details p a { text-decoration: none; }
