{%- if include.re and include.h1 or include.p or include.href and include.button -%}
<section class="masthead" style="background-image: url('{{ page.dir }}images/{{ include.re }}.jpg');">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      {%- if include.h1 -%}
      <div class="col-md-8 offset-md-2">
        <h1 class="bg-dark p-4 text-uppercase text-white display-4">{{ include.h1 }}</h1>
        {%- if include.p or include.href and include.button -%}
        {%- if include.p -%}
        <p class="lead bg-dark text-white p-4 mb-5">{{ include.p }}</p>
        {%- endif -%}
        {%- if include.href and include.button -%}
        <a class="btn btn-success btn-lg js-scroll-trigger" href="#{{ include.href }}">{{ include.button }}</a>
        {%- endif -%}
        {%- endif -%}
      </div>
      {%- endif -%}
    </div>
  </div>
</section>
{%- endif -%}
