{%- assign t = owner -%}
{%- capture n -%}+{{ t | slice:0,2 }}&nbsp;{{ t | slice:2,3 }}&nbsp;{{ t | slice:5,3 }}&nbsp;{{ t | slice:8,2 }}&nbsp;{{ t | slice:10,12 }}{%- endcapture -%}
{%- if include.owners.size > 0 -%}
<header class="navbar navbar-expand-lg fixed-top navbar-primary bg-primary shadow">
  <div class="container">
    <span class="navbar-brand">{{ n }}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOwner" aria-controls="navbarOwner" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarOwner">
      <ul class="navbar-nav ml-auto">
        {%- for nb in include.owners -%}
          {%- assign navitem = nb.url | split: '/' | slice: 2 -%}
          {%- capture sizename %}{{ navitem | size }}{% endcapture -%}
          {%- assign href = navitem | slice: 3, navitem.size -%}
          <li class="nav-item">
            <a class="nav-link" href="#{{ href }}">
              <span>{{ nb.title }} - href: {{ href }} - sizename: {{ sizename }} / {{ navitem.size }} - navitem: {{ navitem }}</span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
  </header>
{%- endif -%}
