{%- assign 2s = site.pages | sort:"path" | where_exp: "i", "i.url contains include.current or i.url != include.current" -%}
{%- assign isChildren = false -%}
{%- if 2s.size > 0 -%}
  {%- assign isChildren = true -%}
{%- endif -%}

{%- if isChildren == true -%}
<ul class="list-unstyled">
  {%- for 2 in 2s -%}
    {%- assign slug = 2.url | split: "/" | last -%}
    {%- assign current = 2.url | remove: slug | remove: "//" | append: "/" -%}
    {%- if include.current == current and 2.navhide != 1 and 2.title != '' -%}
    <li class="mb-2">
      <a href="{{ 2.url | absolute_url }}">
        {%- if 2.navtitle -%}{{ 2.navtitle }}{%- else -%}{{ 2.title }}{%- endif -%}
      </a>
      {%- include map/2.html current=2.url -%}
    </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
