{%- assign 2s = site.pages | sort: "path" -%}

{%- assign isChildren = false -%}
{%- for 2 in 2s -%}
  {%- if 2.url contains include.current and 2.url != include.current -%}
    {%- assign isChildren = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if isChildren == true -%}
<ul class="list-unstyled">
  {%- for 2 in 2s -%}
    {%- capture slug -%}{{ 2.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ 2.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if include.current == current and 2.navhide != 1 and 2.title != '' -%}
    <li class="mb-2">
      <a href="{{ 2.url }}">
        {%- if 2.navtitle -%}{{ 2.navtitle }}{%- else -%}{{ 2.title }}{%- endif -%}
      </a>
      {%- include map/2.html current=2.url -%}
    </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
