{%- assign 3s = site.pages | sort: "path" -%}

{%- assign isChildren = false -%}
{%- for 3 in 3s -%}
  {%- if 3.url contains include.current and 3.url != include.current -%}
    {%- assign isChildren = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if isChildren == true -%}
<ul class="list-unstyled border-left border-primary mt-1 ml-1 pl-2">
  {%- for 3 in 3s -%}
    {%- capture slug -%}{{ 3.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ 3.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if include.current == current and 3.navhide != 1 and 3.title != '' -%}
    <li class="mb-2">
      <a href="{{ 3.url }}">
        {%- if 3.navtitle -%}{{ 3.navtitle }}{%- else -%}{{ 3.title }}{%- endif -%} - 3
      </a>
      {%- include map/3.html current=3.url -%}
    </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
