{%- assign 4s = site.pages | sort: "path" -%}

{%- assign isChildren = false -%}
{%- for 4 in 4s -%}
  {%- if 4.url contains include.current and 4.url != include.current -%}
    {%- assign isChildren = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if isChildren == true -%}
<ul class="list-unstyled border-left border-primary mt-1 ml-1 pl-2">
  {%- for 4 in 4s -%}
    {%- capture slug -%}{{ 4.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ 4.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if include.current == current and 4.navhide != 1 and 4.title != '' -%}
    <li class="mb-2">
      <a href="{{ 4.url }}">
        {%- if 4.navtitle -%}{{ 4.navtitle }}{%- else -%}{{ 4.title }}{%- endif -%}
      </a>
      {%- include map/4.html current=4.url -%}
    </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
