//
//
//
.card {
    > div.more {
          position: absolute;
          top: 100%;
          z-index: 1000;
          width: 100%;
          background-color: rgb(255, 255, 255);
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-top: 0;
    }
}
