$bgDefault      : #234161;
$bgHighlight    : #273043;
$colDefault     : #ffffff;
$colHighlight   : #ffe358;
$dropDown       : true;

.dropdown-menu .dropdown-item > li > a:hover { background-image: none; background-color: #000; }
.dropdown-menu a:hover { background-color: transparent; }
.dropdown-item.active, .dropdown-item:active { background-color: transparent; }
.dropdown-item { padding: .25rem; }
