<div class="col-12 mt-4">
  {%- assign size = back | size | minus:1 -%}
  {%- assign dir = back | slice: 0, size | join: "/" | append: '/' -%}
  {%- assign ps = site.pages | sort: "dir" | where_exp: "i", "i.url contains dir and i.url != dir" -%}
  {%- assign foo = site.pages | sort: "dir" | where_exp: "i", "i.url contains dir and i.url == dir" -%}
  <div class="row">
  {%- for p in ps -%}
    {%- if p.url == page.url -%}
      {%- if forloop.first == false -%}
      {%- assign prev = forloop.index0 | minus:1 -%}
      <div class="col-sm-12 col-md-5 text-left">
        &larr; <a href="{{ ps[prev].url }}">{{ ps[prev].title }}</a>
      </div>
      {%- else -%}
      <div class="col-sm-12 col-md-5 text-left">&nbsp;</div>
      {%- endif -%}
      <div class="col-sm-12 col-md-2 text-center">
        <a href="{{ dir }}">{{ site.data.lang-uk.others }} {{ foo[0].title | downcase }}</a>
      </div>
      {%- if forloop.last == false -%}
      {%- assign next = forloop.index0 | plus:1 -%}
      <div class="col-sm-12 col-md-5 text-right">
        <a href="{{ ps[next].url }}">{{ ps[next].title }}</a> &rarr;
      </div>
      {%- else -%}
      <div class="col-sm-12 col-md-5 text-right">&nbsp;</div>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  </div>
</div>
