{% assign f = include.field %}
{% assign deps = f.depends | jsonify | replace: '"', "'" | replace: '&gt;', '>' | replace: '&lt;', '<' %}
<div class="{{ f.class | default: 'col-12' }}"
     {% if f.depends %}x-show="evaluateDepends({{ deps }})"{% endif %}>
  <div class="card bg-light mb-3">
    <div class="card-body py-2">
      <small class="text-muted d-block">
        <template x-if="data.currency === 'usd' || data.currency === 'eur'">
          <div>
            <div x-text="'Ціна ' + priceUah + ' гривень за все'"></div>
            <div x-text="'Ціна в іноземній валюті ' + (data.currency === 'usd' ? '$' : '€') + ' ' + priceForeign + ' за весь об\'єкт нерухомості'"></div>
            <div x-show="data.surface" x-text="'Ціна в іноземній валюті ' + (data.currency === 'usd' ? '$' : '€') + ' ' + pricePerM2Foreign + ' за 1 м²'"></div>
            <div x-text="'Конвертовано за курсом ' + currencyRateLabel"></div>
          </div>
        </template>
        <template x-if="data.currency === 'uah'">
          <div>
            <div x-text="'Ціна ' + priceForeign + ' гривень за весь об\'єкт нерухомості'"></div>
            <div x-show="data.surface" x-text="'Ціна в гривнях ' + pricePerM2Foreign + ' за 1 м²'"></div>
          </div>
        </template>
      </small>
    </div>
  </div>
</div>
