{%- comment -%}
{%- if page.table == 1 -%}
  var $table = $('#property');
  $(function() {
    var data = {{ data | jsonify }};
    $table.bootstrapTable({data: data})
  });
{%- elsif page.table == 2 -%}
  var $table = $('#property');
  $(function() {
    var data = {{ data | jsonify }};
    $table.bootstrapTable({data: data})
  });
{%- endif -%}
{%- endcomment -%}

{%- if page.table == 1 -%}
  <script type="text/javascript">
    var $table = $('#property');
    $(function() {
      var data = {{ data | jsonify }};
      $table.bootstrapTable({data: data})
    });
  </script>
{%- elsif page.table == 2 -%}
  <script type="text/javascript">
    var $table = $('#property');
    $(function() {
      var data = {{ data | jsonify }};
      $table.bootstrapTable({data: data})
    });
  </script>
{%- endif -%}
