{%- if offer.type and offer.type == land -%}
{%- else -%}

  {%- if offer.type != site.data.lang-uk.re_house or offer.type != site.data.lang-uk.re_house_not -%}

    {%- if offer.floor and offer.floor == '' and offer.floors and offer.floors != '' and offer.type != site.data.lang-uk.re_house or offer.type != site.data.lang-uk.re_house_not -%}
      <dt>{{ site.data.lang-uk.re_floorss | capitalize }}</dt>
      <dd>{{ offer.floors }}</dd>
    {%- elsif offer.floor and offer.floor != '' and offer.floors and offer.floors != '' and offer.type != site.data.lang-uk.re_house or offer.type != site.data.lang-uk.re_house_not -%}
      <dt>{{ site.data.lang-uk.re_floor }}</dt>
      <dd>{{ offer.floor }} {{ site.data.lang-uk.re_at }} {{ offer.floors }} {{ site.data.lang-uk.re_floors }}</dd>
    {% elsif offer.floor and offer.floor != '' and offer.floors and offer.floors == '' %}
      <dt>{{ site.data.lang-uk.re_floor }}</dt>
      <dd>{{ offer.floor }}</dd>
    {% else %}
      <dt>{{ site.data.lang-uk.re_floor }}</dt>
      <dd>{{ offer.floor }} {{ site.data.lang-uk.re_at }} {{ offer.floors }} {{ site.data.lang-uk.re_floors }}</dd>
    {%- endif -%}

  {%- endif -%}

  {%- if offer.parking and offer.parking != '' -%}
    <dt>{{ site.data.lang-uk.re_parking }}</dt>
    <dd>{{ offer.parking }}</dd>
  {%- endif -%}

  {%- if offer.object and offer.object != '' -%}
    <dt>{{ site.data.lang-uk.re_object }}</dt>
    <dd>{{ offer.object }}</dd>
  {%- endif -%}

  {%- if offer.surface_land and offer.surface_land != '' -%}
    <dt>{{ site.data.lang-uk.re_surface_land }}</dt>
    <dd><span class="mark" data-toggle="tooltip" title="{% if ssland == 4 %}0.{% else %}0.0{% endif %}{{ offer.surface_land }} га">{{ offer.surface_land }}</span>&nbsp;{{ site.data.lang-uk.re_m }}<sup>2</sup></dd>
  {%- endif -%}

{%- endif -%}

{%- if offer.price_sqmt -%}

  {%- if offer.rent == '1' and offer.type contains 'приміщення' or offer.rent == '1' and offer.type == 'Магазин' or offer.rent == '1' and offer.type == 'Кафе' and offer.type == 'Магазин' or offer.rent == '1' and offer.type == 'Ресторан' -%}
    <dt>Вартість оренди за 1&nbsp;{{ site.data.lang-uk.re_m }}<sup>2</sup></dt>
  {%- elsif offer.rent == '1' -%}
    <dt>{{ site.data.lang-uk.re_price_sqmtr }}</dt>
  {%- elsif offer.type == land or offer.type == landm -%}
    <dt>{{ site.data.lang-uk.re_price_sqmtl }}&nbsp;{{ site.data.lang-uk.re_m }}<sup>2</sup></dt>
  {%- else -%}
    <dt>{{ site.data.lang-uk.re_price_sqmt }}&nbsp;{{ site.data.lang-uk.re_m }}<sup>2</sup></dt>
  {%- endif -%}

  <dd>
    {%- if offer.rent == '1' -%}

      {% if offer.price_sqmt and offer.price_sqmt != '' %}

        {% if offer.price_sqmt contains '$' %}
          <span class="mark" data-toggle="tooltip" title="{{ offer.price_sqmt }}">{{ offer.price_sqmt | remove: '$' | times: site.usd | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
        {% elsif offer.price_sqmt contains '€' %}
          <span class="mark" data-toggle="tooltip" title="{{ offer.price_sqmt }}">{{ offer.price_sqmt | remove: '€' | times: site.eur | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
        {% else %}
          <span class="mark" data-toggle="tooltip" title="{{ offer.price_sqmt }} {{ site.data.lang-uk.re_uah }}">{{ offer.price_sqmt }}</span> {{ site.data.lang-uk.re_uah }}.
        {% endif %}

      {% else %}

        {% if offer.price_sqmt == '' and offer.price contains '$' %}
          <span class="mark" data-toggle="tooltip" title="${{ pus | divided_by: offer.surface | ceil }}">{{ pus | divided_by: offer.surface | times: site.usd | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
        {% elsif offer.price_sqmt == '' and offer.price contains '€' %}
          <span class="mark" data-toggle="tooltip" title="€{{ peu | divided_by: offer.surface | ceil }}">{{ peu | divided_by: offer.surface | times: site.eur | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
        {% else %}
          <span class="mark" data-toggle="tooltip" title="{{ pua | divided_by: offer.surface | ceil }} {{ site.data.lang-uk.re_uah }}">{{ pua | divided_by: offer.surface | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
        {% endif %}

      {% endif %}

    {%- else -%}

      {% if offer.price_sqmt == '' and offer.price != '' and offer.price contains '$' %}

        {%- if offer.type == land or offer.type == landm -%}
          <span class="mark" data-toggle="tooltip" title="${{ pus | divided_by: offer.surface_land }}">
          {{ pus | divided_by: offer.surface_land | times: site.usd | ceil }}
          </span>
        {%- else -%}
          <span class="mark" data-toggle="tooltip" title="${{ pus | divided_by: offer.surface }}">
          {{ pus | divided_by: offer.surface | times: site.usd | ceil }}
          </span>
        {%- endif -%}&nbsp;{{ site.data.lang-uk.re_uah }}.

      {% elsif offer.price_sqmt == '' and offer.price != '' and offer.price contains '€' %}

        {%- if offer.type == land or offer.type == landm -%}
          <span class="mark" data-toggle="tooltip" title="€{{ peu | divided_by: offer.surface_land }}">
          {{ peu | divided_by: offer.surface_land | times: site.eur | ceil }}
          </span>
        {%- else -%}
          <span class="mark" data-toggle="tooltip" title="€{{ peu | divided_by: offer.surface }}">
          {{ peu | divided_by: offer.surface | times: site.eur | ceil }}
          </span>
        {%- endif -%}&nbsp;{{ site.data.lang-uk.re_uah }}.

      {% elsif offer.price_sqmt == '' and offer.price != '' %}

        {%- if offer.type == land or offer.type == landm -%}
          <span class="mark" data-toggle="tooltip" title="{{ offer.price | divided_by: offer.surface_land }} {{ site.data.lang-uk.re_uah }}">
          {{ offer.price | divided_by: offer.surface_land }}
        {%- else -%}
          <span class="mark" data-toggle="tooltip" title="{{ offer.price | divided_by: offer.surface }} {{ site.data.lang-uk.re_uah }}">
          {{ offer.price | divided_by: offer.surface }}
          </span>
        {%- endif -%}&nbsp;{{ site.data.lang-uk.re_uah }}.

      {% else %}

        {% if offer.price_sqmt and offer.price_sqmt != '' %}

          {% if offer.price_sqmt contains '$' %}
            <span class="mark" data-toggle="tooltip" title="{{ offer.price_sqmt }}">{{ offer.price_sqmt | remove: '$' | times: site.usd | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
          {% elsif offer.price_sqmt contains '€' %}
            <span class="mark" data-toggle="tooltip" title="{{ offer.price_sqmt }}">{{ offer.price_sqmt | remove: '€' | times: site.eur | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
          {% else %}
            <span class="mark" data-toggle="tooltip" title="{{ offer.price_sqmt }} {{ site.data.lang-uk.re_uah }}">{{ offer.price_sqmt }}</span> {{ site.data.lang-uk.re_uah }}.
          {% endif %}

        {% else %}

          {% if offer.price_sqmt == '' and offer.price contains '$' %}
            <span class="mark" data-toggle="tooltip" title="${{ pus | divided_by: offer.surface | ceil }}">{{ pus | divided_by: offer.surface | times: site.usd | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
          {% elsif offer.price_sqmt == '' and offer.price contains '€' %}
            <span class="mark" data-toggle="tooltip" title="€{{ peu | divided_by: offer.surface | ceil }}">{{ peu | divided_by: offer.surface | times: site.eur | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
          {% else %}
            <span class="mark" data-toggle="tooltip" title="{{ pua | divided_by: offer.surface | ceil }} {{ site.data.lang-uk.re_uah }}">{{ pua | divided_by: offer.surface | ceil }}</span> {{ site.data.lang-uk.re_uah }}.
          {% endif %}

        {% endif %}

      {% endif %}

    {%- endif -%}
  </dd>
{%- endif -%}

{%- if offer.description and offer.description != '' -%}
  <dt>{{ site.data.lang-uk.re_description }}</dt>
  <dd>{{ offer.description }}</dd>
{%- endif -%}

{%- if offer.seller and offer.seller != '' -%}
  {%- if offer.rent == '1' -%}
    <dt>{{ site.data.lang-uk.re_sellerr }}</dt>
  {%- else -%}
    <dt>{{ site.data.lang-uk.re_seller }}</dt>
  {%- endif -%}
  <dd>{{ offer.seller }}</dd>
{%- endif -%}

{%- if offer.phone and offer.phone != '' -%}
  {%- if offer.rent == '1' -%}
    <dt>{{ site.data.lang-uk.re_phoner }}</dt>
  {%- else -%}
    <dt>{{ site.data.lang-uk.re_phone }}</dt>
  {%- endif -%}
  <dd>{%- include footer/phone.html legal=offer.phone type='text' -%}<i class="d-none">{{ offer.id }}</i></dd>
{%- endif -%}

{%- if offer.page and offer.page == '1' -%}
  <dt>{{ site.data.lang-uk.re_page }}</dt>
  <dd><a href="{{ site.url }}/{{ offer.phone }}" target="_blank">www.{{ site.domain }}/{{ offer.phone }}</a></dd>
{%- endif -%}
