{%- if offer.type == land -%}
{%- else -%}
  {%- if offer.floor and offer.floors -%}
  <dt>{{ site.data.lang-uk.re_floor }}</dt>
  <dd>{{ offer.floor }} {{ site.data.lang-uk.re_at }} {{ offer.floors }} {{ site.data.lang-uk.re_floors }}</dd>
  {% elsif offer.floor and offer.floor != '' %}
  <dt>{{ site.data.lang-uk.re_floor }}</dt>
  <dd>{{ offer.floor }}</dd>
  {%- endif -%}
  {%- if offer.parking and offer.parking != '' -%}
  <dt>{{ site.data.lang-uk.re_parking }}</dt>
  <dd>{{ offer.parking }}</dd>
  {%- endif -%}
  {%- if offer.object and offer.object != '' -%}
  <dt>{{ site.data.lang-uk.re_object }}</dt>
  <dd>{{ offer.object }}</dd>
  {%- endif -%}
  {%- if offer.surface_land != '' and offer.surface_land != '0' -%}
  <dt>{{ site.data.lang-uk.re_surface_land }}</dt>
  <dd>{{ offer.surface_land }}&nbsp;{{ site.data.lang-uk.re_m }}<sup>2</sup></dd>
  {%- endif -%}
{%- endif -%}
{%- if offer.price_sqmt and offer.price_sqmt != '' -%}
{%- if offer.rent == '1' -%}
<dt>{{ site.data.lang-uk.re_price_sqmtr }}</dt>
{%- elsif offer.type == 'Земля' or offer.type == 'земля' -%}
<dt>{{ site.data.lang-uk.re_price_sqmtl }}&nbsp;{{ site.data.lang-uk.re_m }}<sup>2</sup></dt>
{%- else -%}
<dt>{{ site.data.lang-uk.re_price_sqmt }}&nbsp;{{ site.data.lang-uk.re_m }}<sup>2</sup></dt>
{%- endif -%}
<dd>{% if offer.price_sqmt contains '$' %}<span data-toggle="tooltip" title="{{ offer.price_sqmt }}">{{ offer.price_sqmt | remove: '$' | times: site.usd | ceil }}</span> гривень.{% elsif offer.price_sqmt contains '€' %}<span data-toggle="tooltip" title="{{ offer.price_sqmt }}">{{ offer.price_sqmt | remove: '€' | times: site.eur | ceil }}</span> гривень.{% else %}{{ offer.price_sqmt }} гривень.{% endif %}</dd>
{%- endif -%}
{%- if offer.seller -%}
{%- if offer.rent == '1' -%}
<dt>{{ site.data.lang-uk.re_sellerr }}</dt>
{%- else -%}
<dt>{{ site.data.lang-uk.re_seller }}</dt>
{%- endif -%}
<dd>{{ offer.seller }}</dd>
{%- endif -%}
{%- if offer.phone -%}
{%- if offer.rent == '1' -%}
<dt>{{ site.data.lang-uk.re_phoner }}</dt>
{%- else -%}
<dt>{{ site.data.lang-uk.re_phone }}</dt>
{%- endif -%}
<dd>{%- include footer/phone.html legal=offer.phone type='text' -%}</dd>
{%- endif -%}
