{% if offer.type %}Продається <strong class="text-lowercase">{{ offer.type }}</strong>, {% endif %}
{% if offer.type == 'Земля' %} площею <strong>{{ offer.surface_land }}</strong>&nbsp;м<sup>2</sup>, {% else %}
{% if offer.surface %}площею <strong>{{ offer.surface }}</strong>&nbsp;м<sup>2</sup>, {% endif %}
{% if offer.rooms %}кімнат <strong>{{ offer.rooms }}</strong>, {% endif %}
{% endif %}
{% if offer.location %}знаходиться у <strong>{{ offer.location }}</strong> {% endif %}
{% if offer.address %}за адресою <strong>{{ offer.address }}</strong>, {% endif %}
{% if offer.price %}вартість нерухомості <mark>{{ offer.price }}</mark>{% endif %}.
