
<div class="row">
  <div class="col-12 px-2 p-lg-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/1/" id="navDropRealEstate" role="button" data-target="#" data-toggle="dropdown" aria-expanded="false">
                Dropdown 1
              </a>
              <ul class="dropdown-menu" aria-labelledby="navDropRealEstate">
                <li><a class="dropdown-item" href="/1/2/">Action 0</a></li>
                <li><a class="dropdown-item" href="/1/2/3">Another action 0</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/1/">Something else here 0</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/2/" id="navDropRealEstate" role="button" data-target="#" data-toggle="dropdown" aria-expanded="false">
                Dropdown 2
              </a>
              <ul class="dropdown-menu" aria-labelledby="navDropRealEstate">
                <li><a class="dropdown-item" href="/2/">Action01</a></li>
                <li><a class="dropdown-item" href="/2/2/">Another action01</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/2/2/3/">Something else here01</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/3/" id="navDropRealEstate" role="button" data-target="#" data-toggle="dropdown" aria-expanded="false">
                Dropdown 3
              </a>
              <ul class="dropdown-menu" aria-labelledby="navDropRealEstate">
                <li><a class="dropdown-item" href="/3/2/">Action</a></li>
                <li><a class="dropdown-item" href="/3/2/1/">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/3/2/3">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/4/" id="navDropRealEstate" role="button" data-target="#" data-toggle="dropdown" aria-expanded="false">
                Dropdown 4
              </a>
              <ul class="dropdown-menu" aria-labelledby="navDropRealEstate">
                <li><a class="dropdown-item" href="/4/2/">Action 1</a></li>
                <li><a class="dropdown-item" href="/4/">Another action 1</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/4/1/">Something else here 1</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

{% comment %}

{%- if isChildren == true -%}data-target="#{{ slug }}" {%- endif -%}

{%- assign path = page.url | split: '/' -%}
{%- assign part = path | size -%}
<div class="row">
  <div class="col-12 px-2 p-lg-0">
    <nav class="navbar navbar-expand-lg justify-content-between pb-lg-0 px-0 px-lg-2" aria-label="Main navigation">
      <button class="navbar-toggler ml-1 shadow-none collapsed" type="button" data-toggle="collapse" data-target="#navbarRealEstate" aria-controls="navbarRealEstate" aria-expanded="false" aria-label="Toggle button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarRealEstate">
        <ul class="navbar-nav">
          {%- assign ones = site.pages | sort: 'path' | reverse -%}
          {%- assign isChildren = false -%}
          {%- for 1 in ones -%}
            {%- if 1.url contains page.url and 1.url != page.url -%}
              {%- assign isChildren = true -%}
            {%- endif -%}
          {%- endfor -%}
          {%- for one in ones -%}
            {%- assign slug = one.url | split: '/' | last -%}
            {%- capture current -%}{{ one.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
            {%- if "/" == current and one.navhide != 1 -%}
              <li class="nav-item position-static{% if isChildren == true or part > 0 %} dropdown{% endif %}">
                <a class="nav-link{% if isChildren == true or part > 0 %} dropdown-toggle{% endif %}{% if page.url == one.url %} active{% endif %}" href="{{ one.url }}" id="navDrop{{ slug | capitalize }}" role="button" {% if isChildren == true %}data-target="#" {% endif %}data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {%- if one.navtitle -%}{{ one.navtitle }}{%- else -%}{{ one.title }}{%- endif -%} - {{isChildren}} | {{part}}
                </a>
                {% if isChildren == true %}
                  {%- include header/dropdown.html current=one.url -%}
                {%- endif -%}
              </li>
              {%- if one.url -%}
                {%- assign twos = site.pages -%}
                {%- for 2 in twos -%}
                  {%- if 2.url contains page.url and 2.url != page.url -%}
                    {%- assign isChildren = true -%}
                  {%- endif -%}
                {%- endfor -%}
                {%- for two in twos -%}
                  {%- assign slug = two.url | split: '/' | last -%}
                  {%- capture current -%}{{ two.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
                  {%- if one.url == current and two.url contains "city" or two.url contains "town" -%}
                  <li class="nav-item position-static{% if isChildren == true or part > 0 %} dropdown{%- endif -%}">
                    <a class="nav-link{% if isChildren == true or part > 0 %} dropdown-toggle{%- endif -%}" href="{%- if isChildren == true or part > 0 -%}{{ slug | prepend: '#' }}{%- else -%}{{ two.url }}{%- endif -%}" id="navDrop{{ slug | capitalize }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {%- if two.navtitle -%}{{ two.navtitle }}{%- else -%}{{ two.title }}{%- endif -%} - {{isChildren}} | {{part}}
                    </a>
                    {% if isChildren == true %}
                      {%- include header/dropdown.html current=two.url -%}
                    {%- endif -%}
                  </li>
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </nav>
  </div>
</div>

{% endcomment %}
