<div class="row">
  <div class="col-12 px-2 p-lg-0">
    <nav class="navbar navbar-expand-lg justify-content-between pb-0 px-0 px-lg-2" aria-label="Main navigation">
      <button class="navbar-toggler ml-1 shadow-none collapsed" type="button" data-toggle="collapse" data-target="#navbarRealEstate" aria-controls="navbarRealEstate" aria-expanded="false" aria-label="Toggle button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarRealEstate">
        <ul class="navbar-nav">
          {%- assign ones = site.pages | sort: 'path' | reverse -%}
          {%- assign isChildren = false -%}
          {%- for one in ones -%}
            {%- if one.url contains page.url and one.url != page.url -%}
              {%- assign isChildren = true -%}
            {%- endif -%}
            {%- capture slug -%}{{ one.url | split: "/" | last }}{%- endcapture -%}
            {%- capture current -%}{{ one.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
            {%- if "/" == current and one.navhide != 1 -%}
              <li class="nav-item position-static{% if isChildren == true %} dropdown{%- endif -%}">
                <a class="nav-link{% if isChildren == true %} dropdown-toggle{%- endif -%}{% if page.url == one.url %} active{% endif %}" href="{% if isChildren == true %}{{ slug | prepend: '#' }}{%- else -%}{{ one.url }}{%- endif -%}" id="navDrop{{ slug | capitalize }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {%- if one.navtitle -%}{{ one.navtitle }}{%- else -%}{{ one.title }}{%- endif -%}
                </a>
                {%- include header/dropdown.html current=one.url -%}
              </li>
              {%- if one.url -%}
                {%- assign twos = site.pages -%}
                {%- for two in twos -%}
                  {%- if two.url contains page.url and two.url != page.url -%}
                    {%- assign isChildren = true -%}
                  {%- endif -%}
                  {%- capture slug -%}{{ two.url | split: "/" | last }}{%- endcapture -%}
                  {%- capture current -%}{{ two.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
                  {%- if one.url == current and two.url contains "city" or two.url contains "town" -%}
                  <li class="nav-item position-static{% if isChildren == true %} dropdown{%- endif -%}">
                    <a class="nav-link{% if isChildren == true %} dropdown-toggle{%- endif -%}" href="{% if isChildren == true %}{{ slug | prepend: '#' }}{%- else -%}{{ two.url }}{%- endif -%}" id="navDrop{{ slug | capitalize }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {%- if two.navtitle -%}{{ two.navtitle }}{%- else -%}{{ two.title }}{%- endif -%}
                    </a>
                    {%- include header/dropdown.html current=two.url -%}
                  </li>
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </nav>
  </div>
</div>
