---
layout: compress
---
{%- capture fname -%}{%- include footer/contact.html legal="name" -%}{%- endcapture -%}
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div id="top"></div>
    <div class="main">
      {%- include header.html -%}
      <main{% if page.url == "/" %} class="content my-4"{% else %} class="content mb-4"{% endif %}>
        {% if page.url == "/" %}
          <div class="mx-3 mx-md-5 pb-1">
            <a class="ml-md-5" data-toggle="collapse" href="#collapseArea" role="button" aria-expanded="false" aria-controls="collapseArea">
              <strong>Виберіть місцевіть</strong></a> в Івано-Франківській області де б ви хотіли <strong>знайти, купити чи продати житло</strong> або <a data-toggle="collapse" href="#collapseAds" role="button" aria-expanded="false" aria-controls="collapseAds"><strong>побудувати чи відремонтувати житло</strong></a>
          </div>
          <div class="bg-light px-3 px-md-5 mb-3">
            <div class="px-md-5 collapse" id="collapseArea">
              <div class="bg-light px-0 border-0 card card-body">
                {%- include home/anchor-link.html -%}
              </div>
            </div>
            <div class="px-md-5 collapse" id="collapseAds">
              <div class="bg-light px-0 border-0 card card-body">
                <div class="row row-cols-1 row-cols-md-4">

                  <div class="col">
                    <div class="card">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="..." class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p class="card-text">Будуєом будинки, квартири, житло...</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="..." class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p class="card-text">Ремонт житлові та не житлові приміщення...</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="..." class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p class="card-text">Надаємо різноманітні послуги ремонту житла, побутової техніки...</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="..." class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <p class="card-text">Продаємо будівельні матеріали для ремонту та будівництва...</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
        <div class="container">
          {%- include breadcrumb.html -%}
          {%- assign isContent = content | strip_newlines -%}
          {%- if isContent == '' -%}
            {%- include info-visitors.html -%}
          {%- else -%}
            {{ content }}
          {%- endif -%}
        </div>
      </main>
      {%- include footer.html -%}
    </div>
    {%- include scroll-top.html -%}
    {%- include java-script.html -%}
    {% include modals/net-realestate-modal.html %}
{%- if page.url contains 'map.html' -%}
{%- else -%}
    {% include modals/re-map-modal.html %}
{%- endif -%}
  </body>
</html>
