---
layout: compress
---
{%- capture fname -%}{%- include footer/contact.html legal="name" -%}{%- endcapture -%}
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div id="top"></div>
    <div class="main">
      {%- include header.html -%}
      <main{% if page.url == "/" %} class="content my-4"{% else %} class="content mb-4"{% endif %}>
        {% if page.url == "/" %}
          <div class="container-md pb-1">
            <a data-toggle="collapse" href="#collapseArea" role="button" aria-expanded="false" aria-controls="collapseArea">
              <strong>Виберіть місцевіть</strong>
            </a>
            в Івано-Франківській області де б ви хотіли <strong>знайти, купити чи продати нерухомість</strong> або
            <a data-toggle="collapse" href="#collapseAds" role="button" aria-expanded="false" aria-controls="collapseAds">
              <strong>будувати, ремонтувати і облаштувати оселю</strong>
            </a>
          </div>
          <div class="bg-light mb-3">
            <div class="container-md collapse" id="collapseArea">
              <div class="bg-light px-0 border-0 card card-body">
                {%- include home/anchor-link.html -%}
              </div>
            </div>
            <div class="container-md collapse" id="collapseAds">
              <div class="bg-light px-0 border-0 card card-body">
                <div class="row row-cols-1 row-cols-md-4">
                  {%- include collapse-ads.html -%}
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
        <div class="container">
          {%- include breadcrumb.html -%}
          {%- assign isContent = content | strip_newlines -%}
          {%- if isContent == '' -%}
            {%- include info-visitors.html -%}
          {%- else -%}
            {{ content }}
          {%- endif -%}
        </div>
      </main>
      {%- include footer.html -%}
    </div>
    {%- include scroll-top.html -%}
    {%- include java-script.html -%}
{% comment %}
<hr>
<div id="data-container"></div>
<div id="pagination-container"></div>
    {%- if page.url contains 'realtor' or page.url contains 'developer' -%}
      <script src="{{ "/assets/js/pagination.min.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
      <script>
        $(document).ready(function(){
          $('#pagination-container').pagination({
              dataSource: [1, 2, 3, 4, 5, 6, 7, ... , 195],
              pageSize: 2,
              showPrevious: false,
              showNext: false,
              callback: function(data, pagination) {
                  var html = template(data);
                  $('#data-container').html(html);
              }
          })
          function template(data) {
              var html = '<ul>';
              $.each(data, function(index, item){
                  html += '<li>'+ item +'</li>';
              });
              html += '</ul>';
              return html;
          }
        });
      </script>
    {%- endif -%}
{% endcomment %}
    {% include modals/net-realestate-modal.html %}
{%- assign slash = page.dir | split: '/' -%}
{%- if page.url contains 'map.html' -%}
{%- elsif slash.size >= 3 and page.dir != '/region/city/' and page.dir != '/district/town/'-%}
  {% include modals/re-map-modal.html %}
{%- endif -%}
  </body>
</html>
