---
layout: compress
---
{%- capture name -%}{%- include footer/contact.html legal="name" -%}{%- endcapture -%}
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div id="top"></div>
    <div class="main">
      {%- include header.html -%}
      <main{% if page.url == "/" %} class="content my-4"{% else %} class="content mb-4"{% endif %}>
        <div class="container">
          {%- include breadcrumb.html -%}
          {%- assign isContent = content | strip_newlines -%}
          {%- if isContent == '' -%}
            {%- include info-visitors.html -%}
          {%- else -%}
            {{ content }}
          {%- endif -%}
        </div>
      </main>
      {%- include footer.html -%}
    </div>
    {%- include scroll-top.html -%}
    {%- if page.table == 1 -%}
    {%- include photoswipe.html -%}
    {%- elsif page.table == 2 -%}
    {%- include photoswipe.html -%}
    {%- endif -%}
    {%- include java-script.html -%}
    {% include modals/net-realestate-modal.html %}
  </body>
</html>
