---
layout: default
---
{%- include variables/realtor.html -%}
<div class="row">
  <div class="col-12">
    <h1>{{ page.title }}</h1>
    <p>Короткий вислів (Гасло), що, як правило або cтисле формулювання провідної ідеї, програми дій, правило, заповідь або вираз, який характеризує певні почуття або кодекс поведінки агента чи агенції.</p>
    {{ content }}
    {%- if isJson.size > 0 or tabs.size > 0 -%}
    <nav class="navbar navbar-expand-md navbar-light bg-white p-0">
      <a class="navbar-brand d-md-none" href="#">
        <span class="small">Оберіть розділ</span>
        <span class="ml-1 float-right align-middle text-primary">→</span>
      </a>
      <button class="navbar-toggler ml-1 shadow-none collapsed" type="button" data-toggle="collapse" data-target="#navbar{{ slug | capitalize }}" aria-controls="navbar{{ slug | capitalize }}" aria-expanded="false" aria-label="Toggle button"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar{{ slug | capitalize }}">
        <ul class="navbar-nav nav nav-tabs border-0" id="{{ slug }}-nav">
          {%- if isJson.size > 0 -%}
            {%- include elements/offer-tab.html -%}
          {%- endif -%}
          {%- if tabs.size > 0 -%}
            {%- include elements/others-tab.html -%}
          {%- endif -%}
        </ul>
      </div>
    </nav>
    <hr class="mt-2 mt-md-0">

    {%- assign size = back | size | plus:1 -%}
    {%- assign dir = back | slice: 0, size | join: "/" | append: '/' -%}
    {%- assign pp = '' | split:'' -%}
    {%- assign pages = site.pages | sort: 'dir' | reverse -%}
    {%- for i in pages -%}
      {%- assign l = i.dir | split: '/' -%}
      {%- if i.url contains dir and i.url != dir and l.size == 8 -%}
        {%- assign pp = pp | push: i -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign size = back | size | plus:2 -%}
    {%- assign dir = back | slice: 0, size | join: "/" | append: '/' -%}
    {%- assign ipp = site.pages | sort: "dir" | where_exp: "i", "i.url contains dir and i.url == dir" -%}

    {%- if pp.size > 0 -%}
      ipp: {{ ipp[0].title }}<br>
      {%- for pr in pp -%}
        {{pr.title  }}<br>
      {%- endfor -%}
    {%- endif -%}

    <div class="tab-content" id="{{ slug }}-content">
      {%- if isJson.size > 0 -%}
        {%- include elements/offer-pane.html -%}
      {%- endif -%}
      {%- if tabs.size > 0 -%}
        {%- include elements/others-pane.html -%}
      {%- endif -%}
    </div>
    {%- endif -%}
  </div>
  {%- include elements/pager.html -%}
</div>
