---
layout: compress
---
{%- capture fname -%}{%- include footer/contact.html legal="name" -%}{%- endcapture -%}
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}

{%- capture title -%}
  {%- if page.title -%}
    {{ page.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %} · {{ site.title | smartify }}
  {%- else -%}
    {{ site.title | smartify }}{% if tlocation != '' %}{{ tlocation }}{% endif %} · {{ site.name | smartify }}
  {%- endif -%}
{%- endcapture -%}

<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="Українська" />
    <title>{{ title }}</title>
    <link rel="shortlink" href="{{ site.url }}" />
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="preload" href="{{ "/assets/js/leaflet.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
    <link rel="stylesheet" href="{{ "/assets/css/leaflet.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
    <link rel="stylesheet" href="{{ "/assets/css/map.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
    <style>
      body { padding: 0; margin: 0; }
      html, body, #map { height: 100%; width: 100vw; }
    </style>
    <script src="{{ "/assets/js/leaflet.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
    <script src="{{ "/assets/js/L.Control.SlideMenu.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
  </head>
  <body>

  {%- comment -%}  
    {%- assign isContent = content | strip_newlines -%}
    {%- if isContent == '' -%}
      {%- include info-visitors.html -%}
    {%- else -%}
      {{ content }}
    {%- endif -%}
  {%- endcomment -%}


    {%- capture name -%}{%- include footer/contact.html legal='name' -%}{%- endcapture -%}

    <div id="map"></div>

    {%- assign slug = page.url | split: "/" | last -%}

    {%- assign l = page.url | split: '/' -%}

    {%- if page.url contains 'all.html' -%}
      {%- assign json = page.url | replace: 'all.html', 'data/all.json' -%}
      {%- if l.size == 4 -%}
        {%- assign data = page.url | split: '/' | slice: 2, 4 | join: '/' | prepend: 'data/' -%}
      {%- elsif l.size == 5 -%}
        {%- assign data = page.url | split: '/' | slice: 3, 5 | join: '/' | prepend: 'data/' -%}
      {%- endif -%}
    {%- elsif page.url contains 'map.html' -%}
      {%- assign json = page.url | replace: 'map.html', 'data/map.json' -%}
      {%- if l.size == 4 -%}
        {%- assign data = page.url | split: '/' | slice: 2, 4 | join: '/' | prepend: 'data/' -%}
      {%- elsif l.size == 5 -%}
        {%- assign data = page.url | split: '/' | slice: 3, 5 | join: '/' | prepend: 'data/' -%}
      {%- endif -%}
    {%- else -%}
      {%- assign json = here | append: 'data/' | append: slug | append: '.json' -%}
      {%- if l.size == 4 -%}
        {%- assign data = page.url | split: "/" | slice: 2, 4 | join: "/" | prepend: 'data/' | append: '.html' -%}
      {%- elsif l.size == 5 -%}
        {%- assign data = page.url | split: "/" | slice: 3, 5 | join: "/" | prepend: 'data/' | append: '.html' -%}
      {%- endif -%}
    {%- endif -%}

    {%- if data -%}
      {%- include {{ data }} -%}

      {%- if offers.size > 0 -%}


<script>

  L.Map = L.Map.extend({
      openPopup: function(popup) {
          this.closePopup();
          this._popup = popup;
          return this.addLayer(popup).fire('popupopen', {
              popup: this._popup
          });
      }
  });

  var map = L.map("map").setView([48.92276, 24.71038], 10);
  var markers = [
    {%- for offer in offers -%}
      L.marker([{{ offer.coordinates }}],{title: '

      {%- if offer.rent and offer.rent == '1' -%}
        {{ site.data.lang-uk.re_for_rent }} {{ offer.type | downcase }}
      {%- else -%}
        {{ site.data.lang-uk.re_for_sale }} {{ offer.type | downcase }}
      {%- endif -%}

      '}).bindPopup('

      {%- if offer.rent and offer.rent == '1' -%}
        {{ site.data.lang-uk.re_for_rent }} <b>{{ offer.type | downcase }}</b>
      {%- else -%}
        {{ site.data.lang-uk.re_for_sale }} <b>{{ offer.type | downcase }}</b>
      {%- endif -%}

      <br/>

      {%- if offer.rooms and offer.rooms != '' -%}
        {{ site.data.lang-uk.re_rooms }} <b>{{ offer.rooms }}</b>
      {%- endif -%}

        -

      {%- if offer.type contains '{{ site.data.lang-uk.re_land }}' and offer.price_sqmt != '' -%}
        {%- if offer.price_sqmt contains '$' and offer.price_sqmt != '' -%}
          {{ site.data.lang-uk.re_cost | capitalize }} {{ offer.price_sqmt | remove: '$' | times: site.usd | ceil }} {{ site.data.lang-uk.re_uah }}
        {%- elsif offer.price_sqmt contains '€' and offer.price_sqmt != '' -%}
          {{ site.data.lang-uk.re_cost | capitalize }} {{ offer.price_sqmt | remove: '€' | times: site.eur | ceil }} {{ site.data.lang-uk.re_uah }}
        {%- else -%}
          {{ site.data.lang-uk.re_cost | capitalize }} {{ offer.price_sqmt }} {{ site.data.lang-uk.re_uah }}
        {%- endif -%}
      {%- else -%}
        {%- if offer.price contains '$' and offer.price != '' -%}
          {{ site.data.lang-uk.re_cost | capitalize  }} {{ offer.price | remove: '$' | times: site.usd | ceil }} {{ site.data.lang-uk.re_uah }}
        {%- elsif offer.price contains '€' and offer.price != '' -%}
          {{ site.data.lang-uk.re_cost | capitalize }} {{ offer.price | remove: '€' | times: site.eur | ceil }} {{ site.data.lang-uk.re_uah }}
        {%- else -%}
          {{ site.data.lang-uk.re_cost | capitalize }} {{ offer.price }} {{ site.data.lang-uk.re_uah }}
        {%- endif -%}
      {%- endif -%}

      <br/>

      {{ site.data.lang-uk.re_tel | capitalize }}: {%- include footer/phone.html legal=offer.phone type='text' -%}

      '){%- if forloop.last -%}{%- else -%},{%- endif -%}
    {%- endfor -%}
  ];

  var group = L.featureGroup(markers).addTo(map);

  setTimeout(function () {
    map.fitBounds(group.getBounds());
  }, {{ offers.size }});

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '<a href="{{ site.url }}" target="_blank">{{ site.title }}</a> - {{ page.breadcrumb }}',
    tileSize: 512,
    zoomOffset: -1
  }).addTo(map);

  map.attributionControl.setPrefix('');

  var header  = '<h1><a href="{{ site.url }}">Нерухомість</a> на мапі</h1>';
  var contents = '{%- include map/left-navbar.html -%}';
  var options = {width: '280px'};

  L.control.slideMenu(header + contents, options).addTo(map);

</script>

      {%- endif -%}

    {%- endif -%}




  </body>
</html>
