---
layout: compress
---
{%- capture fname -%}{%- include footer/contact.html legal="name" -%}{%- endcapture -%}
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div id="top"></div>
    <div class="main">
      {%- include header.html -%}
      <main class="content mb-4">
        <div class="container">
          {%- include breadcrumb.html -%}
          {%- include variables/object.html -%}
          <div class="row mb-3">
            <div class="col-12">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-5">
              {%- include image-slider.html folder=folder group='main' width='480' height='260' -%}
            </div>
            <div class="col-md-7">
              {%- assign isContent = content | strip_newlines -%}
              {%- if isContent == '' -%}
                {%- include info-visitors.html -%}
              {%- else -%}
                {{ content }}
              {%- endif -%}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              {%- if isJson.size > 0 or otabs.size > 0 or data.size > 0 -%}
              <nav class="navbar navbar-expand-md navbar-light bg-white p-0">
                <div class="navbar-brand d-md-none">
                  <span class="small">{{ site.data.lang-ua.re_about_object }}</span>
                  <span class="ml-1 float-right align-middle text-primary">→</span>
                </div>
                <button class="navbar-toggler ml-1 shadow-none collapsed" type="button" data-toggle="collapse" data-target="#navbarVambud" aria-controls="navbarVambud" aria-expanded="false" aria-label="Toggle button">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarVambud">
                  <ul class="navbar-nav nav nav-tabs border-0" id="vambud-nav">
                    {%- if isJson.size > 0 or data.size > 0 -%}
                      {%- include elements/offer-tab.html -%}
                    {%- endif -%}
                    {%- if otabs.size > 0 -%}
                      {%- include elements/others-tab.html tabs=otabs -%}
                    {%- endif -%}
                  </ul>
                </div>
              </nav>
              <hr class="mt-2 mt-md-0">
              <div class="tab-content" id="vambud-content">
                {%- if isJson.size > 0 or data.size > 0 -%}
                  {%- include elements/offer-pane.html -%}
                {%- endif -%}
                {%- if otabs.size > 0 -%}
                  {%- include elements/others-pane.html tabs=otabs -%}
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
            {%- include elements/pager.html l=8 -%}
          </div>
        </div>
      </main>
      {%- include footer.html -%}
    </div>
    {%- include scroll-top.html -%}
    {%- assign level = page.dir | split: '/' -%}
    {%- include object/js-top.html -%}
    {%- if data.size > 10 -%}
      {%- include object/js-middle.html -%}
    {%- endif -%}
    {%- include object/js-bottom.html -%}
    {% include modals/net-realestate-modal.html %}
  </body>
</html>
