---
layout: compress
---
{%- assign owner = page.dir | split: '/' | last -%}
{%- assign owners = site.owners | where_exp: 'i', 'i.path contains owner' -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include owner/head.html -%}
  </head>
  <body>
    <div id="top"></div>
    {%- if owners.size > 0 -%}
      {%- include owner/navbar.html owners=owners -%}
    {%- endif -%}
    {{ content }}
    {%- if owners.size > 0 -%}
      {%- include owner/section.html owners=owners -%}
    {%- endif -%}
    <footer class="bg-light py-5">
      <div class="container">
        <div class="small text-center text-muted">Copyright © 2020 - ...</div>
      </div>
    </footer>
    {%- include scroll-top.html -%}
    {%- include owner/java-script.html -%}
  </body>
</html>
