---
layout: compress
---

{%- assign owner = page.dir | split: '/' | last -%}
{%- assign owners = site.owners | where_exp: 'i', 'i.path contains owner' -%}

<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include owner/head.html -%}
  </head>
  <body>
    <div id="top"></div>

    {{ content }}

    {%- if owners.size > 0 -%}
      {%- include owner/navbar.html owners=owners -%}
    {%- endif -%}

    {%- if owners.size > 0 -%}
      {%- include owner/section.html owners=owners -%}
    {%- endif -%}

    {%- include scroll-top.html -%}
    {%- include owner/java-script.html -%}
  </body>
</html>
