---
layout: default
---

<div class="row">
  <div class="col-12">
    <p><span class="small text-muted">{%- include date.html date=page.date -%}</span></p>
    <h1 class="mb-4">{{ page.title }}</h1>
    {{ content }}

    <hr>

    {{ page.dir }} // {{ page.url }} // {{ page.link }}

    <span class="mr-1">&larr;</span>
    <a href="{{ page.dir }}">
      {%- if back contains "news" -%}
        {{ site.data.lang-uk.news_back_list }}
      {%- elsif back contains "articles" -%}
        {{ site.data.lang-uk.articles_back_list }}
      {%- else -%}
        {{ site.data.lang-uk.back_list }}
      {%- endif -%}
    </a>

  {%- comment -%}
    {%- include back.html -%}
  {%- endcomment -%}
  </div>
</div>
