---
layout: default
---

{%- assign slug = page.url | split: "/" | last -%}
{%- assign back = page.dir | split: "/" -%}
{%- assign size = back | size | minus:2 -%}
{%- assign pass = back | slice: 0, size | join: "/" | append: '/data/'-%}
{%- assign json = pass | append: slug | append: '.json' -%}
{%- assign isJson = site.data[slug] -%}

<div class="row">
  <div class="col-12">

    <h1>{{ page.title }}</h1>
    <p class="lead">Короткий вислів, що, як правило або cтисле формулювання провідної ідеї, програми дій, правило, заповідь або вираз, який характеризує певні почуття або кодекс поведінки агента чи агенції.</p>

    <nav class="navbar navbar-expand-md navbar-light bg-white p-0">
      <a class="navbar-brand d-md-none" href="#">
        <span class="small">Оберіть розділ</span>
        <span class="ml-1 float-right align-middle text-primary">→</span>
      </a>
      <button class="navbar-toggler ml-1 shadow-none collapsed" type="button" data-toggle="collapse" data-target="#navbar{{ slug | capitalize }}" aria-controls="navbar{{ slug | capitalize }}" aria-expanded="false" aria-label="Toggle button"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar{{ slug | capitalize }}">
        <ul class="navbar-nav nav nav-tabs border-0" id="{{ slug }}-nav">
          {%- if isJson -%}
            <li class="nav-item" role="presentation">
              <a class="nav-link border-0 active" href="#offer" id="offer-tab" data-toggle="tab" role="tab" aria-controls="offer" aria-selected="true">
                <span>Наші пропозиції</span>
              </a>
            </li>
          {%- endif -%}
          <li class="nav-item" role="presentation">
            <a class="nav-link border-0{% if isJson %}{% else %} active{% endif %}" href="#about" id="about-tab" data-toggle="tab" role="tab" aria-controls="about" aria-selected="true">
              <span>Про ангенцію</span>
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link border-0" href="#services" id="services-tab" data-toggle="tab" role="tab" aria-controls="services" aria-selected="true">
              <span>Послуги ангенції</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <hr class="mt-2 mt-md-0">

    <div class="tab-content" id="{{ slug }}-content">
      {%- if isJson -%}
        <div class="tab-pane fade show active" id="offer" role="tabpanel" aria-labelledby="offer-tab">
          <div class="row">
            <div class="col-12">
              <h2>{{ page.title }} пропонує нерухомість</h2>
              {%- include table/js.html -%}
            </div>
          </div>
        </div>
      {%- endif -%}
      <div class="tab-pane fade show{% if isJson %}{% else %} active{% endif %}" id="about" role="tabpanel" aria-labelledby="about-tab">
        <p>Про ангенцію...</p>
      </div>
      <div class="tab-pane fade show" id="services" role="tabpanel" aria-labelledby="services-tab">
        <p>Послуги ангенції...</p>
      </div>
    </div>

  </div>
  <div class="col-12">

    {%- assign size = back | size | minus:1 -%}
    {%- assign dir = back | slice: 0, size | join: "/" | append: '/' -%}
dir: {{ dir }}
    {%- assign sortedPages = site.pages | sort: "dir" | where_exp: "i", "i.url contains dir" -%}

    {%- for p in sortedPages -%}
      {%- if p.url == page.url -%}
        {%- if forloop.first == false -%}
          {%- assign prevIndex = forloop.index0 | minus: 1 -%}
          <a href="{{ site.baseurl }}{{ sortedPages[prevIndex].url }}">
            previous : {{ sortedPages[prevIndex].title }}
          </a>
        {%- endif -%}
        {%- if forloop.last == false -%}
          {%- assign nextIndex = forloop.index0 | plus: 1 -%}
          <a href="{{ site.baseurl }}{{ sortedPages[nextIndex].url }}">
            next : {{ sortedPages[nextIndex].title }}
          </a>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

  </div>
</div>
