---
layout: default
---
{%- capture name -%}{%- include footer/contact.html legal='name' -%}{%- endcapture -%}
{%- assign addtitle = name | split: ' ' | slice: 1, 4 | join: ' ' -%}
<div class="row">
  <div class="col-12">
    <h1>{{ page.title }} {% if page.url contains '/all.html' %}{% else %}{{ addtitle }}{% endif %}</h1>
    {{ content }}
    {%- include nav-section.html -%}
    {%- if page.url contains 'rent' -%}
      <h2>Передаються для оренди або здаються в оренду об'єкти нерухомості</h2>
    {%- elsif page.url contains 'land' -%}
      <h2>Продаються землі та земельні ділянки різного призначення</h2>
    {%- elsif page.url contains 'house' -%}
      <h2>Продаються будинки</h2>
    {%- elsif page.url contains 'garage' -%}
      <h2>Продаються гаражі</h2>
    {%- elsif page.url contains 'commercial' -%}
      <h2>Продаються нежитлові приміщення комерційного призначення</h2>
    {%- elsif page.url contains 'apartment' -%}
      <h2>Продаються квартири</h2>
    {%- endif -%}
    {%- assign slug = page.url | split: "/" | last -%}
    {%- if page.url contains 'all.html' -%}
      {%- assign json = page.url | replace: 'all.html', 'data/all.json' -%}
      {%- assign data = page.url | split: "/" | slice: 3, 5 | join: "/" | prepend: 'data/' -%}
    {%- else -%}
      {%- assign json = here | append: 'data/' | append: slug | append: '.json' -%}
      {%- assign data = page.url | split: "/" | slice: 3, 5 | join: "/" | prepend: 'data/' | append: '.html' -%}
    {%- endif -%}
    {%- if data -%}
      {%- include {{ data }} -%}
      {%- if offers.size > 10 -%}
        {%- include table/js.html -%}
      {%- else -%}
        {%- for offer in offers -%}
          {%- include table/html.html -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  </div>
</div>
