---
layout: default
---


{%- assign back = page.dir | split: "/" -%}
{%- assign n = back | size -%}
number: {{ n }}

{%- n == 4 -%}
  {%- assign size = back | size | minus:0 -%}
{%- else -%}
  {%- assign size = back | size | minus:1 -%}
{%- endif -%}

{%- assign dir = back | slice: 0, size | join: '/' | append: '/' -%}
{%- assign ps = site.pages | sort: 'dir' | where_exp: 'i', 'i.url contains dir and i.url == dir' -%}
{%- for p in ps -%}{%- assign location = p.breadcrumb -%}{%- endfor -%}

location: {{location}}<br>

{%- capture name -%}{%- include footer/contact.html legal='name' -%}{%- endcapture -%}
{%- assign addtitle = name | split: ' ' | slice: 1, 4 | join: ' ' -%}
<div class="row">
  <div class="col-12">
    <h1>{{ page.title }} {% if page.url contains '/all.html' %}{% else %}{{ addtitle }}{% endif %}</h1>
    <p class="lead">{{ content }}...</p>
    {%- include nav-section.html -%}
    {%- assign slug = page.url | split: "/" | last -%}
    {%- if page.url contains 'all.html' -%}
      {%- assign json = page.url | replace: 'all.html', 'data/all.json' -%}
      {%- assign data = page.url | split: "/" | slice: 3, 5 | join: "/" | prepend: 'data/' -%}
    {%- else -%}
      {%- assign json = here | append: 'data/' | append: slug | append: '.json' -%}
      {%- assign data = page.url | split: "/" | slice: 3, 5 | join: "/" | prepend: 'data/' | append: '.html' -%}
    {%- endif -%}
    {%- if data -%}
      {%- include {{ data }} -%}
      {%- if offers.size > 10 -%}
        {%- include table/js.html -%}
      {%- else -%}
        {%- for offer in offers -%}
          {%- include table/html.html -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  </div>
</div>
