section.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  background: linear-gradient(to bottom, #{fade-out($brown, 0.2)} 0%, #{fade-out($brown, 0.2)} 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
  }
  @include media-breakpoint-up(xl) {

  }
}
