//
// Responsive font sizes
//
$enable-responsive-font-sizes:  true !default;
$enable-negative-margins: true !default;
$enable-gradients: true !default;

$blue:    #2d5ca6 !default;
$white:   #fff !default;
$yellow:  #ffc107 !default;

$navbar-primary-color:                 rgba($white, 255) !default;
$navbar-primary-hover-color:           rgba($yellow, .75) !default;
$navbar-primary-active-color:          $white !default;
$navbar-primary-disabled-color:        rgba($white, .25) !default;
$navbar-primary-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-primary-toggler-border-color:  rgba($white, .1) !default;

$navbar-primary-brand-color:           $navbar-primary-active-color !default;
$navbar-primary-brand-hover-color:     $navbar-primary-active-color !default;
