{%- include has-news.html cat=include.region -%}
{%- include has-articles.html cat=include.region -%}
<div class="card-text">
  <div class="d-flex justify-content-between">
    <div class="tabs">Новини</div>
    <div class="menu">Меню</div>
  </div>
</div>


  {% comment %}

  <nav>
    <ul class="nav nav-tabs" id="{{ include.region }}-realestate-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link border-0 active" id="{{ include.region }}-recently-tab" data-toggle="tab" href="#{{ include.region }}-recently" role="tab" aria-controls="{{ include.region }}-recently" aria-selected="true">
          <span>{{ site.data.lang-uk.news | capitalize }}</span>
        </a>
      </li>
      {%- if hasNews == true -%}
      <li class="nav-item" role="presentation">
        <a class="nav-link border-0" id="{{ include.region }}-news-tab" data-toggle="tab" href="#{{ include.region }}-news" role="tab" aria-controls="{{ include.region }}-news" aria-selected="true">
          <span>{{ site.data.lang-uk.news | capitalize }}</span>
        </a>
      </li>
      {%- endif -%}
      {%- if hasArticles == true -%}
      <li class="nav-item" role="presentation">
        <a class="nav-link border-0" id="{{ include.region }}-articles-tab" data-toggle="tab" href="#{{ include.region }}-articles" role="tab" aria-controls="{{ include.region }}-articles" aria-selected="false">
          <span>{{ site.data.lang-uk.articles | capitalize }}</span>
        </a>
      </li>
      {%- endif -%}
      <li class="nav-item last">
        {%- include home/navsection.html region=include.region url=include.url -%}
      </li>
    </ul>
  </nav>
  <div class="tab-content" id="{{ include.region }}-realestate-content">
    <div class="tab-pane pt-3 fade show active" id="{{ include.region }}-recently" role="tabpanel" aria-labelledby="{{ include.region }}-recently-tab">
      ...
    </div>
    {%- if hasNews == true -%}
    <div class="tab-pane pt-3 fade" id="{{ include.region }}-news" role="tabpanel" aria-labelledby="{{ include.region }}-news-tab">
      ...
      {% comment %}
      {%- include home/news-last.html cat=include.region url=include.url num='3'-%}
      {% endcomment %}
    </div>
    {%- endif -%}
    {%- if hasArticles == true -%}
    <div class="tab-pane pt-3 fade" id="{{ include.region }}-articles" role="tabpanel" aria-labelledby="{{ include.region }}-articles-tab">
      ...
      {% comment %}
      {%- include home/articles-last.html cat=include.region url=include.url num='3' -%}
      {% endcomment %}
    </div>
    {%- endif -%}
  </div>

  <nav class="navbar navbar-expand-md navbar-light bg-white p-0">
    <div class="navbar-brand d-md-none">
      <span class="small">{{ site.data.lang-uk.brand_content }}</span>
      <span class="ml-1 float-right align-middle text-primary">→</span>
    </div>
    <button class="navbar-toggler ml-1 shadow-none collapsed" type="button" data-toggle="collapse" data-target="#card-navbar-{{ include.region }}" aria-controls="card-navbar-{{ include.region }}" aria-expanded="false" aria-label="Toggle button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="card-navbar-{{ include.region }}">
      <ul class="navbar-nav nav nav-tabs border-0" id="{{ include.region }}-realestate-navigation" role="tablist">
        {%- if hasNews == true -%}
        <li class="nav-item" role="presentation">
          <a class="nav-link border-0 active" id="{{ include.region }}-news-tab" data-toggle="tab" href="#{{ include.region }}-news" role="tab" aria-controls="{{ include.region }}-news" aria-selected="true">
            <span>{{ site.data.lang-uk.news | capitalize }}</span>
          </a>
        </li>
        {%- endif -%}
        {%- if hasArticles == true -%}
        <li class="nav-item" role="presentation">
          <a class="nav-link border-0" id="{{ include.region }}-articles-tab" data-toggle="tab" href="#{{ include.region }}-articles" role="tab" aria-controls="{{ include.region }}-articles" aria-selected="false">
            <span>{{ site.data.lang-uk.articles | capitalize }}</span>
          </a>
        </li>
        {%- endif -%}
        {%- include has-children.html where='developer/' dir=include.url -%}
        {%- if hasChildren == true -%}
        <li class="nav-item" role="presentation">
          <a class="nav-link border-0" id="{{ include.region }}-developers-tab" data-toggle="tab" href="#{{ include.region }}-developers" role="tab" aria-controls="{{ include.region }}-developers" aria-selected="false">
            <span>{{ site.data.lang-uk.developers | capitalize }}</span>
          </a>
        </li>
        {%- endif -%}
        {%- include has-children.html where='realtor/' dir=include.url -%}
        {%- if hasChildren == true -%}
        <li class="nav-item" role="presentation">
          <a class="nav-link border-0" id="{{ include.region }}-realtors-tab" data-toggle="tab" href="#{{ include.region }}-realtors" role="tab" aria-controls="{{ include.region }}-realtors" aria-selected="false">
            <span>{{ site.data.lang-uk.realtors | capitalize }}</span>
          </a>
        </li>
        {%- endif -%}
      </ul>
    </div>
  </nav>
  <hr class="mt-2 mt-md-0">
  <div class="tab-content" id="{{ include.region }}-realestate-content">
    {%- if hasNews == true -%}
    <div class="tab-pane pt-3 fade show active" id="{{ include.region }}-news" role="tabpanel" aria-labelledby="{{ include.region }}-news-tab">
      ...
      {% comment %}
      {%- include home/news-last.html cat=include.region url=include.url num='3'-%}
      {% endcomment %}
    </div>
    {%- endif -%}
    {%- if hasArticles == true -%}
    <div class="tab-pane pt-3 fade" id="{{ include.region }}-articles" role="tabpanel" aria-labelledby="{{ include.region }}-articles-tab">
      ...
      {% comment %}
      {%- include home/articles-last.html cat=include.region url=include.url num='3' -%}
      {% endcomment %}
    </div>
    {%- endif -%}
    {%- include has-children.html where='developer/' dir=include.url -%}
    {%- if hasChildren == true -%}
    <div class="tab-pane pt-3 fade" id="{{ include.region }}-developers" role="tabpanel" aria-labelledby="{{ include.region }}-developers-tab">
      ...
      {% comment %}
      {%- assign dir = include.url | append: 'developer' | append: '/' -%}
      {%- include current-subpages.html dir=dir page="home" -%}
      {% endcomment %}
    </div>
    {%- endif -%}
    {%- include has-children.html where='realtor/' dir=include.url -%}
    {%- if hasChildren == true -%}
    <div class="tab-pane pt-3 fade" id="{{ include.region }}-realtors" role="tabpanel" aria-labelledby="{{ include.region }}-realtors-tab">
      ...
      {% comment %}
      {%- assign dir = include.url | append: 'developer' | append: '/' -%}
      {%- include current-subpages.html dir=dir page='home' -%}
      {% endcomment %}
    </div>
    {%- endif -%}
  </div>
  {% endcomment %}
