
{%- assign url = include.url -%}

{%- assign ss = site.pages | sort: "path" -%}

{%- assign isChildren = false -%}
{%- for s in ss -%}
  {%- if s.url contains url and s.url != url -%}
    {%- assign isChildren = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if isChildren == true -%}
<ul class="list-unstyled border-left border-primary mt-1 ml-1 pl-2">
  {%- for s in ss -%}
    {%- capture slug -%}{{ s.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ s.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if url == current and s.navhide != 1 and s.title != '' -%}
    <li class="mb-2">
      <a href="{{ s.url }}">
        {%- if s.navtitle -%}{{ s.navtitle }}{%- else -%}{{ s.title }}{%- endif -%} - 3
      </a>
    </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
