
{%- assign dir = include.dir -%}
{%- assign region = include.region -%}
{%- assign ss = site.pages | sort:"path" | where_exp: "i", "i.dir contains dir and i.dir != dir and i.title != '' and i.navhide != 1" -%}
{%- if ss.size > 0 -%}
  <nav class="navbar p-0">
    <button class="navbar-toggler shadow-none collapsed" type="button" data-toggle="collapse" data-target="#{{ region }}-realestate-section" aria-controls="{{ region }}-realestate-section" aria-expanded="false" aria-label="Toggle button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="section px-2 collapse navbar-collapse" id="{{ region }}-realestate-section">
      <ul class="navbar-nav">
        {%- for s in ss -%}
          {%- assign slug = s.dir | split: "/" | last -%}
          {%- assign current = s.dir | remove: slug | remove: "//" | append: "/" -%}
          {%- if dir == current and s.navhide != 1 and s.title != '' -%}
            {%- include home/navitem.html -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>
{%- endif -%}
